spring:
  application:
    name: auth-service
  autoconfigure:
    exclude:
      - org.springframework.boot.autoconfigure.security.servlet.UserDetailsServiceAutoConfiguration
  jackson:
    time-zone: America/Sao_Paulo

springdoc:
  swagger-ui:
    path: /swagger-ui.html
  api-docs:
    path: /v3/api-docs

server:
  port: 8083

jwt:
  secret: ${JWT_SECRET:alterar-este-segredo-para-producao-uma-chave-longa}
  expiracao-minutos: 120
