services:
  rabbitmq:
    image: rabbitmq:3-management
    container_name: farma-rabbitmq
    ports:
      - "5673:5672"
      - "15673:15672"
    environment:
      RABBITMQ_DEFAULT_USER: farma
      RABBITMQ_DEFAULT_PASS: farma
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - farma-net

  medication-service:
    build:
      context: ../services/medication-service
    container_name: farma-medication-service
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres-medication:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - farma-net

  safety-service:
    build:
      context: ../services/safety-service
    container_name: farma-safety-service
    ports:
      - "8081:8081"
    environment:
      SPRING_PROFILES_ACTIVE: docker
    depends_on:
      postgres-safety:
        condition: service_healthy
      rabbitmq:
        condition: service_healthy
    networks:
      - farma-net

  postgres-medication:
    image: postgres:16
    container_name: farma-postgres-medication
    ports:
      - "5435:5432"
    environment:
      POSTGRES_DB: medicationdb
      POSTGRES_USER: farma
      POSTGRES_PASSWORD: farma
    volumes:
      - farma-medication-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U farma -d medicationdb"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - farma-net

  postgres-safety:
    image: postgres:16
    container_name: farma-postgres-safety
    ports:
      - "5436:5432"
    environment:
      POSTGRES_DB: safetydb
      POSTGRES_USER: farma
      POSTGRES_PASSWORD: farma
    volumes:
      - farma-safety-data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U farma -d safetydb"]
      interval: 10s
      timeout: 5s
      retries: 10
    networks:
      - farma-net

networks:
  farma-net:
    name: farma-net

volumes:
  farma-medication-data:
  farma-safety-data:
